/**
* Project : simply-countdown
* File : demo
* Date : 27/06/2015
* Author : Vincent Loy <vincent.loy1@gmail.com>
*/
@import '../../bower_components/lesshat/build/lesshat';
@color-blue-darken: #024772;
@color-blue: #02658C;
@color-blue-lighten: #0387A5;
@color-gray: #BFB6AE;
@color-gray-lighten: #F2E6DC;
@color-white: #fff;

@spacing: 20px;

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body, html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 22px;
  margin: @spacing 0;
}

header {
  height: 450px;
  .display(flex);
  .align-items(center);
  .justify-content(center);
  background: @color-blue-darken;
  border-bottom: 5px solid @color-blue;

  .header-content {
    text-align: center;
    h1 {
      font-style: italic;
      font-size: 60px;
      font-weight: 400;
      color: @color-gray-lighten;
    }

    h2 {
      font-size: 25px;
      color: @color-gray-lighten;
      margin: (@spacing * 2) 0 (@spacing * 3) 0;
    }

    .repo-buttons {
      .button {
        margin: 0 @spacing;
      }
    }
  }
}

.button {
  color: @color-gray-lighten;
  border:2px solid @color-gray-lighten;
  .border-radius(2px);
  text-decoration: none;
  padding: @spacing / 2;
  .transition(0.1s ease-in-out all);

  > i {
    margin-right: @spacing / 2;
  }

  &:hover {
    background: @color-gray-lighten;
    color: @color-blue-darken;
  }
}

.container {
  width: 960px;
  margin: auto;
}

.note {
  background: @color-blue-lighten;
  color: @color-white;
  font-style: italic;
  .border-radius(2px);
  padding: (@spacing / 3) @spacing;
}

main {
  h2 {
    font-size: 33px;
    color: @color-blue;
    font-weight: 700;
    margin: @spacing * 2 0;
  }

  h3 {
    font-size: 25px;
    color: @color-blue;
    font-weight: 700;
    margin: (@spacing * 2) 0 (@spacing / 2) 0;

    a {
      color: @color-blue-lighten;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  background: @color-blue-darken;
  color: @color-white;
  text-align: center;
  padding: @spacing;
  margin-top: @spacing;

  a {
    color: @color-blue-lighten;
    text-decoration: none;
  }
}
