{
  "extends": "airbnb-base/legacy",
  "rules": {
    "indent": ["error", 4],
    "func-names": ["error", "never"],
    "no-param-reassign": ["error", {"props": false}],
    "quotes": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
