/**
* Project : simply-countdown
* File : demo
* Date : 27/06/2015
* Author : Vincent Loy <vincent.loy1$gmail.com>
*/
$color-main: #3F72AF;
$color-main-darken: #112D4E;
$color-main-lighten: #6995ca;
$color-secondary: #F9F7F7;
$color-secondary-lighten: #F9F7F7;
$color-white: #fff;

$ff-base: "Wix Madefor Text", serif;
$ff-title: "Montserrat", sans-serif;

$spacing: 20px;

$tablet: "screen and (min-width: 970px)";

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

body, html {
  font-family: $ff-base;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  font-size: 16px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  margin: $spacing 0;
}

h1, h2, h3 {
  font-family: $ff-title;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-main-darken;
  border-bottom: 5px solid $color-main;
  padding: $spacing;

  @media #{$tablet} {
    height: 450px;
  }

  .header-content {
    text-align: center;

    h1 {
      font-style: italic;
      font-size: 2rem;
      font-weight: 600;
      color: $color-secondary-lighten;

      @media #{$tablet} {
        font-size: 4rem;
      }
    }

    h2 {
      font-size: 1.33rem;
      color: $color-secondary-lighten;
      margin: $spacing 0;
      font-weight: 500;

      @media #{$tablet} {
        font-size: 1.75rem;
        margin: ($spacing * 2) 0 ($spacing * 3) 0;
      }
    }

    .repo-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.button {
  color: $color-secondary-lighten;
  border:2px solid $color-secondary-lighten;
  border-radius: 2px;
  text-decoration: none;
  padding: $spacing / 2;
  transition: 0.1s ease-in-out all;
  display: block;
  margin: 0 $spacing $spacing $spacing;

  span {
    display: none;
  }

  @media #{$tablet} {
    margin-bottom: 0;

    span {
      display: inline;
    }
  }

  > i {
    @media #{$tablet} {
      margin-right: $spacing / 2;
    }
  }

  &:hover {
    background: $color-secondary-lighten;
    color: $color-main-darken;
  }
}

.container {
  width: 100%;
  padding: 0 $spacing;
  margin: auto;

  @media #{$tablet} {
    width: 960px;
  }
}

.note {
  background: $color-main-darken;
  color: $color-white;
  font-style: italic;
  border-radius: 2px;
  padding: ($spacing / 3) $spacing;
}

main {
  > section:not(:last-of-type) {
    border-bottom: 1px solid $color-main-darken;
    padding-bottom: $spacing;
  }

  h2 {
    font-size: 2rem;
    color: $color-main;
    font-weight: 700;
    margin: $spacing 0;

    @media #{$tablet} {
      font-size: 3rem;
      margin: $spacing * 2 0;
    }
  }

  h3 {
    font-size: 20px;
    color: $color-main;
    font-weight: 700;
    margin: $spacing 0;

    @media #{$tablet} {
      font-size: 25px;
      margin: ($spacing * 2) 0;
    }

    a {
      color: $color-main-lighten;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: $color-main-lighten;
    transition: 0.2s ease all;

    &:hover {
      color: $color-main-darken;
      text-decoration: underline;
    }
  }
}

.simply-countdown-inline {
  margin-top: $spacing;
  font-weight: bold;
  font-size: 1.3rem;
}

footer {
  background: $color-main-darken;
  color: $color-white;
  text-align: center;
  padding: $spacing;
  margin-top: $spacing * 2;
  font-weight: 600;

  a {
    color: lighten($color-main-lighten, 25%);
    text-decoration: none;
    font-weight: bold;

    &:hover{
      text-decoration: underline;
    }
  }
}
